@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

.container-fluid{
    position: fixed;
    height: 100%;
    background-color: #ececec;
    -webkit-box-shadow: 4px 1px 5px -2px rgba(0,0,0,0.19);
    -moz-box-shadow: 4px 1px 5px -2px rgba(0,0,0,0.19);
    box-shadow: 4px 1px 5px -2px rgba(0,0,0,0.19);

    .company-logo{
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #e2dede;
        background-color: #1f345f;

        .icon{
            content: url('../../../assets/images/puzzle.svg');
            height: 45px;
            width: 45px;
        }
    }

    ul{
        padding: 0;
        margin: 0;

        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            height: 55px;
            list-style-type: none;
            color: #797979bd;
            padding: 5px;
            font-family: 'Maven Pro', sans-serif;
            font-size: 14px;
            cursor: pointer;
            margin: 15px 0;

            .dashboard{
                content: url('../../../assets/images/dashboard.svg');
                height: 35px;
                width: 30px;
            }

            .sales{
                content: url('../../../assets/images/notepad.svg');
                height: 35px;
                width: 30px;
            }

            .maps{
                content: url('../../../assets/images/placeholder.svg');
                height: 35px;
                width: 30px;
            }
            
        }

        li.active{
            border-right: 2px solid rgb(82, 128, 165);
            background-color: #80808017;
        }
    }
}